/* Styles that could be used in all pages. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 20px;
}
a {
  color: rgb(30, 30, 140);
  text-decoration: none;
  border-bottom: 1px solid rgb(30, 30, 140);
  padding-bottom: 3px;
}
a:hover {
  border-bottom: 0;
}
input {
  padding: 1px 2px;
  box-sizing: content-box;
  font-size: 1em;

  border-radius: 3px;
  border-width: 1px;
}
label {
  display: inline-block;
  margin: 2px;
  margin-bottom: 5px;
}
h1 {
  font-size: 4rem;
}
p {
  margin: 5px;
}

form > div {
  margin: 10px 18px;
}

.has-border {
  border-width: 2px;
  border-style: solid;
}
.has-margin {
  display: inline-block;
  margin: 5px;
}
.error {
  color: rgb(248, 25, 25);
  font-weight: bold;
  font-size: 1em;
}
.bold {
  font-weight: bold;
}
.space-between * {
  margin: 12px;
}
.column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.centered-inline-block {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}

#map-preview {
  width: 200px;
  height: auto;
  box-sizing: content-box;

  border: 5px solid rgb(187, 187, 187);
}
