/* Styles for the lobby page of Colonial Wars. */
#content-container {
  min-height: 100%;
  min-width: 500px;
  width: 35%;

  position: relative;
  float: left;

  background-color: rgb(130, 72, 31);
  border-color: rgb(109, 58, 2);

  padding: 20px;
}
#image-container {
  min-height: 100%;
  width: 65%;

  background-color: rgb(186, 135, 99);

  position: relative;
  float: left;
}
#header-container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  color: rgb(235, 235, 235);
  text-align: center;
  text-shadow: 3px 3px rgb(160, 157, 157);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
}
#body-container {
  padding: 50px;
  padding-bottom: 2.5rem;
}
#footer-container {
  position: absolute;
  bottom: 5px;
  width: 94%;
  height: 30px;

  color: rgb(235, 235, 235);
  background-color: rgb(82, 48, 18);

  text-align: center;
  padding: 5.5px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide the image if the viewport is smaller than 1430 pixels. */
@media (max-width: 1430px) {
  #image-container {
    display: none;
  }
  #content-container {
    min-height: 100%;
    width: 100%;
  }
  #footer-container {
    position: absolute;
    bottom: 5px;
  
    width: 97%;
    height: 30px;
  }
}
