/* Select menu classes. */
.select-menu-content {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-size: 1em;
  color: rgb(0, 0, 0);

  border: 0;
  border-radius: 0;
  padding: 10px 20px;
}
.select-menu-wrapper {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right 5% bottom 50%;
  background-color: rgb(246, 246, 246);
}
